/* Coolors Exported Palette - coolors.co/d53c3b-faf3c9-c5ce57-61a6a1-4f3d4d */

/* HSL */
$color1: hsla(0%, 65%, 53%, 1);
$color2: hsla(51%, 83%, 88%, 1);
$color3: hsla(65%, 55%, 57%, 1);
$color4: hsla(176%, 28%, 52%, 1);
$color5: hsla(307%, 13%, 27%, 1);

/* RGB */
$red: rgba(213, 60, 59, 1);
$yellow: rgba(250, 243, 201, 1);
$green: rgba(197, 206, 87, 1);
$blue: rgba(97, 166, 161, 1);
$indigo: rgba(79, 61, 77, 1);

/* HEX 
$red: #d53c3b;
$yellow: #faf3c9;
$green: #c5ce57;
$blue: #61a6a1;
$indigo: #4f3d4d;

*/
